<table>
    <tr class="header">
        <td class="name">Name</td>
        <td class="centre login">Login</td>
        <td class="centre email">Email</td>
        <td class="centre real">"Real" Salary</td>
        <td class="centre suspected-average">Average Suspected Salary</td>
        <td class="centre guess-count">Guess Count</td>
        <td class="centre guess"></td>
      </tr>
    <% @users.each{|user| %>
      <tr>
        <td class="name"><%= user.name %></td>
        <td class="centre login"><%= user.login %></td>
        <td class="centre email"><%= user.email %></td>
        <td class="centre real"><%= user.checked_real %></td>
        <td class="centre suspected-average"><%= user.average_suspected_amount %></td>
        <td class="centre guess-count"><%= user.received_guesses.count %></td>  
        <td class="centre guess"><%= link_to 'guess', new_user_guess_path(user) %></td>
      </tr>
    <% } %>
</table>
