<p class="shouting">Salaries listed in USD per annum.</p>
<script type="text/javascript">

    jQuery.extend(jQuery.expr[':'], {
      containsIgnoreCase: "(a.textContent||a.innerText||jQuery(a).text()||'').toLowerCase().indexOf((m[3]||'').toLowerCase())>=0"
    });

    function doFilter(value){
      $("tr.row").removeClass('visible').addClass('hidden');
      $("tr.row:containsIgnoreCase('" + value + "')").removeClass('hidden').addClass('visible');
    }
</script>
<label for="filter-users">Filter by: </label><input id='filter-users' name='filter-users' type="text" onkeyup="doFilter(this.value)">
<table id="users">
    <tr class="header">
        <td class="name">Name</td>
        <td class="column real">"Real" Salary</td>
        <td class="column suspected-average">Average Suspected Salary</td>
        <td class="column guess-count">Guess Count</td>
        <td class="column guess"></td>
      </tr>
    <% @users.each{|user| %>
      <tr class="row">
        <td class="name"><%= user.name %></td>
        <td class="column currency real"><%= checked_real_text(user) %></td>
        <td class="column currency suspected-average"><%= suspected_text(user) %></td>
        <td class="column guess-count"><%= user.received_guesses.count %></td>
        <td class="column guess"><%= guess_link_for(user) %></td>
      </tr>
    <% } %>
</table>
