<ul>
    <li class="instruction">Salaries listed in USD per annum.</li>
    <li class="instruction">A star (<%= image_tag('star.png') %>) means you have guessed this person's salary.</li>
    <li class="instruction">Receive an email notification when a user's salary becomes visible by clicking the email icon (<%= image_tag('email.png') %>)</li>
    <li class="instruction">Cancel email notifications using this icon: <%= image_tag('email_delete.png') %></li>
</ul>

<script type="text/javascript"></script>

<label for="filter-users">Filter by: </label><input id='filter-users' name='filter-users' type="text" onkeyup="doFilter(this.value)">
<table id="users">
    <tr class="header">
        <td class="name">Name</td>
        <td class="column real">"Real" Salary</td>
        <td class="column suspected-average">Average Suspected Salary</td>
        <td class="column guess-count">Guess Count</td>
        <td class="column guess"></td>
        <td class="column watch"></td>
    </tr>
    <% collected = @user_reports.collect{|user| %>
      <tr class="row">
          <td class="column name"><%= user.name %></td>
          <td class="column currency real"><%= checked_real_text(user) %></td>
          <td class="column currency suspected-average"><%= suspected_text(user) %></td>
          <td class="column guess-count">
              <%= user.received_guess_count %>
              <%= image_tag('star.png', :alt => "you have guessed #{user.name}'s salary") if user.has_a_guess_from_current_user? %>
          </td>
          <td class="column guess"><%= guess_link_for_report(user) %></td>
          <td class="column watch">
              <div id="watchmen_<%= user.id %>" class="clickable" title="recieve notifications via e-mail when this user's salary is published">
                  <div id="ajax_response_<%= user.id %>">
                      <% unless user.watched_by_current_user? %>
                        <%= render_clickable_watch(user, current_user) %>
                      <% else %>
                        <%= render_clickable_unwatch(current_user.watcher_for(user)) %>
                      <% end %>
                      <%= user_count_text(user) %>
                  </div>
              </div>
          </td>
      </tr>
    <%
       {:received_guess_count => user.received_guess_count,
               :published => user.published?,
               :checked_real => user.checked_reall,
               :average_suspected_amount => user.average_suspected_amount,
               :watcher_count => user.count_of_watchers}
       }
    %>
    <%
     total_published = collected.select{|data| data[:published] == true}.size
     total_guess_count = collected.collect{|data| data[:received_guess_count]}.fold_left{|a,b| a+b}
     total_watcher_count = collected.collect{|data| data[:watcher_count]}.fold_left{|a,b| a+b}
    %>
    <tr class="total">
        <td class="column name">Stats</td>
        <td class="column real"><%= total_published %> of <%= collected.size %> salaries published</td>
        <td class="column suspected-average"></td>
        <td class="column guess-count"><%= total_guess_count %> guesses made</td>
        <td class="column guess"></td>
        <td class="column watch"><%= total_watcher_count %> people watching other people</td>
    </tr>
</table>